.about-section {
  background-image: url(image/back\ 1.jpg);
  background-size: cover;
  background-position: center;
  color: #34312e;
}

.about-small-title {
  color: #c96a4a;
  font-size: 17px;
  letter-spacing: 2px;
  font-weight: bold;
  font-family: MV Boli;
}

.about-text {
  max-width: 580px;
  margin: 15px auto;
  color: #6f625b;
}

.cup-card {
  height: 330px;
  position: relative;
  overflow: hidden;
  border-radius: 18px;
  background-color: #752910;
}

.cup-card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 25px;
  transition: 0.5s;
}

.cup-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(52, 49, 46, 0.88);
  color: #f7f1e8;
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  opacity: 0;
  transition: 0.5s;
}

.cup-card:hover .cup-overlay {
  opacity: 1;
}

.cup-card:hover img {
  transform: scale(1.08);
}
.next-section {
  background-image: url(image/back\ 2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.next-section h2 {
  font-weight: bold;
  color: #3d302b;
}

.next-section p {
  color: #5e3302;
  font-size: 20px;
}

.next-card {
  border-radius: 15px;
  overflow: hidden;
  height: 100%;
  transition: 0.3s;
}

.next-card img {
  width: 80%;
  height: 400px;
  object-fit: cover;
  transition: 0.4s;
}

.next-text {
  padding: 20px;
}

.next-text h3 {
  color: #3d302b;
}

.next-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.next-card:hover img {
  transform: scale(1.05);
}

@media (max-width: 767px) {
  .next-card img {
    height: 230px;
  }

  .next-text {
    padding: 15px;
  }
}
.cherry-section {
  background-color: #f3dfcc;
}

.cherry-image {
  overflow: hidden;
  border-radius: 20px;
}

.cherry-image img {
  width: 90%;
  height: 420px;
  object-fit: cover;
  transition: 0.5s;
}

.cherry-image:hover img {
  transform: scale(1.06);
}

.cherry-text {
  padding: 20px;
}

.small-title {
  color: #9b5d50 !important;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: bold;
}

.cherry-text h2 {
  color: #382b27;
  font-size: 38px;
  margin-bottom: 20px;
}

.cherry-text p {
  color: #6f6662;
  line-height: 1.7;
}

.cherry-text .btn {
  margin-top: 10px;
}

@media (max-width: 767px) {
  .cherry-image img {
    height: 280px;
  }

  .cherry-text {
    text-align: center;
    padding: 5px;
  }

  .cherry-text h2 {
    font-size: 28px;
  }
}
